<header tuiNavigationHeader>
  <span tuiNavigationLogo>
    <tui-icon icon="@tui.cloudy" />
    <span tuiFade class="text-2xl hidden sm:block">{{ "name" | translate }}</span>
  </span>
  <hr />

  <form class="flex space-x-2 items-center">
    <tui-select tuiTextfieldSize="s" [formControl]="langForm" class="w-18">
      <input placeholder="Choose languages" tuiTextfieldLegacy />
      <tui-data-list-wrapper *tuiDataList [items]="lagOptions" />
    </tui-select>

    <tui-select tuiTextfieldSize="s" [formControl]="tempUnitForm" class="w-18">
      <input placeholder="Choose temporary" tuiTextfieldLegacy />
      <tui-data-list-wrapper *tuiDataList [items]="tempUnitOptions" />
    </tui-select>

    <button
      appearance="outline"
      size="xxs"
      tuiIconButton
      type="button"
      (click)="onChangeMode()"
      tuiTheme="dark"
    >
      <span class="material-icons">{{
        mode === "dark" ? "dark_mode" : "light_mode"
      }}</span>
    </button>
  </form>

  <span tuiNavigationLogo
    ><span class="text-xl!">{{
      currentTime | date : "medium" : getLag()
    }}</span></span
  >
  <tui-avatar
    src="https://res.cloudinary.com/dhl9sisnc/image/upload/v1739290179/my-self/Hautrank2-avt-mini.jpg"
  />

  <div class="custom-portal"><ng-container #viewContainer /></div>
</header>
