<app-location-search
  [defaultValue]="city"
  (onChangeValue)="onChangeCity($event)"
></app-location-search>

<p *ngIf="loading">Loading...</p>
<div
  class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4"
  [style.height]="'76vh'"
>
  <div class="col-span-1">
    <div
      tuiCardLarge
      tuiAppearance="textfield"
      class="card min-w-full relative"
    >
      <div class="w-full flex justify-between items-center">
        <div class="icon flex space-x-2 items-center">
          <img [src]="weatherData?.current?.condition?.icon" />
          <div class="block">
            <h2 class="text-4xl font-semibold">
              {{ getTemp(weatherData?.current) }}
            </h2>
            <h3 class="text-4xl font-semibold">
              {{ getConditionText(weatherData?.current?.condition) }}
            </h3>
          </div>
        </div>
        <div class="extra absolute top-4 right-4"></div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-6!">
        @for (infor of oneCardInfors; track $index; let index = $index) {
        <div [className]="'col-span-1' + (index % 3) + 1">
          <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
            <div class="flex space-x-2">
              <tui-avatar size="s">
                <span
                  class="infor-icon material-icons"
                  style="font-size: 20x"
                  >{{ infor.icon }}</span
                >
              </tui-avatar>
              <div class="block">
                <p class="infor-title text-md! font-medium">
                  {{ infor.title }}
                </p>
                <h4 class="mt-1 font-semibold!">
                  {{
                    weatherData && infor.getValue(weatherData, infor.dataIndex)
                  }}
                  {{ infor.unit }}
                </h4>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="col-span-1">
    <div
      tuiCardLarge
      tuiAppearance="textfield"
      class="card min-w-full flex! flex-col"
    >
      <header tuiHeader>
        <h1 tuiTitle class="text-xl! font-semibold!">
          {{ "home.todayTemp" | translate }}
        </h1>
      </header>
      <section class="flex-1" style="min-height: 280px">
        <div echarts [options]="tempChartOptions" class="chart h-full"></div>
      </section>
    </div>
  </div>

  <div class="col-span-1">
    <div
      tuiCardLarge
      tuiAppearance="textfield"
      class="card min-w-full flex! flex-col"
    >
      <header tuiHeader>
        <h1 tuiTitle class="text-xl! font-semibold!">Thời tiết trong ngày</h1>
      </header>
      <section
        class="flex-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 pb-4 overflow-y-auto"
        style="max-height: 230px"
      >
        @for (hourData of hoursToday.slice(currentHour > 15 ? 15 : currentHour);
        track $index; let index = $index) {
        <div
          class="inner-card feature-day-card col-span-1 p-2 rounded-2xl h-full max-h-18"
          tuiAppearance="textfield"
        >
          <div class="grid grid-cols-4 space-x-4">
            <div class="weather-icon-wrapper col-span-1">
              <img
                class="weather-icon"
                [src]="hourData.condition.icon"
                width="100%"
                height="auto"
              />
            </div>
            <div class="feature-info col-span-3">
              <p class="text-sm! font-semibold">
                {{ dateToHour(hourData.time) }}
              </p>
              <p class="text-md">{{ getConditionText(hourData.condition) }}</p>
            </div>
          </div>
        </div>
        }
      </section>
    </div>
  </div>

  <div class="col-span-1">
    <div
      tuiCardLarge
      tuiAppearance="textfield"
      class="card feature-card min-w-full flex! flex-col gap-4!"
    >
      <header tuiHeader>
        <h1 tuiTitle class="text-xl! font-semibold!">
          {{ "home.featureWeather" | translate : { day: forecastDays - 1 } }}
        </h1>
      </header>
      <section class="flex-1 grid grid-cols-2 gap-2 overflow-y-auto">
        @for (item of featureData(); track $index; let index = $index) {
        <div
          class="inner-card feature-day-card col-span-1 p-2 rounded-2xl h-full"
          tuiAppearance="textfield"
        >
          <div class="grid grid-cols-4 space-x-4">
            <div class="weather-icon-wrapper col-span-1">
              <img
                class="weather-icon"
                [src]="item.forecast.forecastday[0].day.condition.icon"
                width="100%"
                height="auto"
              />
            </div>
            <div class="feature-info col-span-3">
              <p class="text-sm! font-semibold">
                {{ changeFormat(item.forecast.forecastday[0].date) }}
              </p>
              <h4>{{ item.current.temp_c }} °C</h4>
              <p class="text-sm!">
                {{ "rainTime" | translate }}
                @for (rain of getRain(item); track $index) {
                <tui-chip size="xxs" class="mx-1 my-1"
                  >{{ rain[0] }} - {{ rain[1] }}</tui-chip
                >
                }
              </p>
            </div>
          </div>
        </div>
        }
      </section>
    </div>
  </div>
</div>
