<tui-textfield iconStart="@tui.search">
  <label tuiLabel>Enter city</label>
  <input
    placeholder="Ex: Hà Nội"
    tuiTextfield
    [ngModel]="city()"
    (ngModelChange)="onChangeCity($event)"
  />
</tui-textfield>
<div class="grid grid-cols-6 gap-4 mt-8 grid-rows-6" [style.height]="'76vh'">
  <div class="col-span-3 row-span-2">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      Main
    </div>
  </div>

  <div class="col-span-1 col-start-1 row-span-2">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>
  <div class="col-span-1 col-start-2 row-span-2">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>
  <div class="col-span-1 col-start-3 row-span-2">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>

  <div class="col-span-1 col-start-1 row-span-2">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>
  <div class="col-span-1 col-start-2 row-span-2">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>
  <div class="col-span-1 col-start-3 row-span-2">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>

  <div class="col-span-3 col-start-4 row-span-3 row-start-1">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>

  <div class="col-span-3 col-start-4 row-span-3 row-start-4">
    <div tuiCardMedium tuiAppearance="textfield" class="card min-w-full">
      BIHAOIFJD
    </div>
  </div>
</div>
