<nav compact tuiSubheader [style.position]="'sticky'" class="flex items-center gap-4">
  <!-- <tui-breadcrumbs [itemsLimit]="10">
    <ng-container *ngFor="let item of breadcrumbs; let last = last">
      <ng-container *ngIf="last">
        <strong *tuiItem tuiFade>
          {{ item }}
        </strong>
      </ng-container>
      <ng-container *ngIf="!last">
        <button *tuiItem tuiLink type="button">
          {{ item }}
        </button>
      </ng-container>
    </ng-container>
  </tui-breadcrumbs>
  <tui-tabs tuiFade>
    <button tuiTab type="button">Default view</button>
    <button tuiTab type="button">Details</button>
    <button tuiTab type="button">Followers</button>
  </tui-tabs>
  <button appearance="secondary" tuiButton type="button">Secondary</button>
  <button tuiButton type="button">Primary</button> -->
</nav>
