/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Nunito", serif;
}

h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 1.3; /* 48px */
  font-weight: 500;
}

h2 {
  font-size: 2rem; /* 32px */
  line-height: 1.2; /* 40px */
  font-weight: 500;
}

h3 {
  font-size: 1.75rem; /* 28px */
  line-height: 1.2;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.1;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}

/* Paragraph */
p {
  font-size: 1.25rem; /* 16px */
  line-height: 1.25; /* 28px */
  color: #1c1b1d; /* Body text color */
}

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 4px solid #1d4ed8; /* Primary color */
  color: #374151; /* Dark Gray */
  padding-left: 1rem; /* Spacing for the border */
  margin: 1.5rem 0; /* Vertical spacing */
}
